<% @albums.each do |album| %>
  <div>
    <h3><%= album.title %></h3>
    <div class="">
      Songs:
      <%= album.songs.map(&:title).join(", ") %>
    </div>
    <%= link_to "Edit", edit_album_path(album) %>
  </div>
<% end %>
