aside {
  position: fixed;
  top: 56px;
  width: 80%;
  height: calc(100% - 56px);
  background-color: white;
  left: -80%;
  transition: 0.5s ease-in-out;
  opacity: 0;
  z-index: 999;

  &.active {
    left: 0;
    opacity: 1;
  }

  .list-group {
    .list-group-item {
      border-left: 0;
      border-right: 0;
      border-radius: 0;
    }
  }
}
