@import '~styles/color';

.navbarOuter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $main-bg-color;
  border-bottom: 1px solid rgba(0,0,0,0.05);

  .navbarInner {
    border-bottom: 1px solid rgba(0,0,0,0.25);

    .navLink {
      padding: 1rem;
    }
  }
}
